<!DOCTYPE html>
<html lang = "en">

    <head>

        <meta charset = "UTF-8">
        <title>Weather</title>

        <link href = "../public/css/style.css" rel = "stylesheet">
        <script src = "/js/weatherFetch.js"></script>
    </head>

    <body>

        <div id = "logo">
            <p> logo </p>
        </div>

        <div id = "search">
            <p> search </p>
        </div>

        <div id = "profile">
            <p> profile </p>
        </div>

        <div id = "side-bar">
            <p> side bar</p>
        </div>

        <div id = "main-body">
            <p> main body </p>
        </div>

        <div id = "weather-warnings">
            <p> weather warnings </p>
        </div>

    </body>
</html>