<!DOCTYPE html>
<html lang = "en">

    <head>

        <meta charset = "UTF-8">
        <title>Weather</title>

        <link href = "../public/css/style.css" rel = "stylesheet">
        <script src = "../public/js/weatherFetch.js"></script>
    </head>

    <body>

        <div id = "logo">
            <p> logo </p>
        </div>

        <div id = "search">

            <p id = "city"> </p>
            <input type="text" pattern="\d*" maxlength="5" id ="searchBar" placeholder="Enter Zip">
            <button type="button" id = "searchButton">Search</button>
        </div>

        <div id = "profile">
            <p> profile </p>
        </div>

        <div id = "side-bar">
            <p> side bar</p>
        </div>

        <div id = "main-body">
            <div id = "model">
                <img src = "../public/img/shirtModel.png" id = "shirt">
                <img src = "../public/img/pantModel.png" id = "pant">
            </div>
        </div>

        <div id = "weather-warnings">
            <p> weather warnings </p>
        </div>

    </body>
</html>