<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clothing Upload Page</title>
    <script src="wardrobe.js"></script>
</head>
<body>
    <h1>Add an article of clothing to your wardrobe</h1>
    <div id="GeneralType">What type of item is it?
        <select id="SelectGeneralType">
            <option value="hat">Hat</option>
            <option value="shirt">Shirt</option>
            <option value="legwear">Legwear</option>
            <option value="shoes">Shoes</option>
            <option value="jacket">Jacket</option>
        </select>
    </div>
    <div id="MoreInputs"></div>

</body>
</html>