:root {
    /**
        Default CSS vars to hold colors

    **/
    --main-color-one: rgb(247, 249, 247);
    --main-color-two: rgb(0, 180, 216);
    --accent-color-one: rgb(202, 240, 248);
    --accent-color-two: rgb(144, 224, 239);
    --accent-color-three: rgb(0, 119, 182);
}


* {
    padding:0;
    margin: 0;
}
html{
    height: 100%;
}

body{
    min-height: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 200px auto 100px;
    grid-template-rows: 100px auto 100px;
    grid-template-areas:
        "logo search profile"
        "side body body"
        "side foot foot"
    ;
}

#logo{
    grid-area: logo;
    background: var(--main-color-two);
}

#search{
    background-color: var(--accent-color-one);
    grid-area: search;
}

#profile{
    background-color: var(--accent-color-two);
    grid-area: profile;
}

#side-bar{
    background-color: var(--accent-color-three);
    grid-area: side;
}

#side-bar > div{
    background: grey;
    border: 2px black solid;
    width: 60%;
    height: 14%;
    padding: auto;
}

#side-bar > div:hover{
    width: 100%;
    transition: width 250ms;
    transition-timing-function: linear;
}

#main-body{
    background: var(--main-color-one);
    grid-area: body;
}

#weather-warnings{
    background: lavender;
    grid-area: foot;
}
